@model learner_portal.Models.Document

<h3 class="text-danger mb-3">Are you sure you want to delete this?</h3>
<form asp-action="Delete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="progressbarwizard">

        <div class="tab-content mb-0 b-0">
 
            <div class="row mb-2  justify-content-center">
                <div class="form-group">
                    <b>@Html.DisplayNameFor(model => model.FileName):</b>
                    <strong>@(Model.FileName.Length > 30 ? Model.FileName.Substring(0, 29) + "..." : Model.FileName)</strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.DocumentTypeId):</b>
                        <div>
                            @Html.DisplayFor(model => model.DocumentType.TypeName)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Comments):</b>
                        <div>
                            @Html.DisplayFor(model => model.Comments)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Verified):</b>
                        <div>
                            @Html.DisplayFor(model => model.Verified)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger mr-1"/>
    </div>
</form>