@model learner_portal.Models.Province

<form asp-action="Delete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="progressbarwizard">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <b>@Html.DisplayNameFor(model => model.ProvinceName):</b>
                    <div class="form-control form-control-feedback h-auto p-3">
                        @Html.DisplayFor(model => model.ProvinceName)
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <b>@Html.DisplayNameFor(model => model.ProvinceCode):</b>
                    <div class="form-control form-control-feedback h-auto p-3">
                        @Html.DisplayFor(model => model.ProvinceCode)
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <b>@Html.DisplayNameFor(model => model.CountryId):</b>
                    <div class="form-control form-control-feedback h-auto p-3">
                        @Html.DisplayFor(model => model.Country.CountryName)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="ProvinceId" />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger mr-1" />
    </div>
</form>