@using learner_portal.Helpers
@model learner_portal.DTO.QualificationDTO

<tr>
    <td>                
        @Model.InstitutionName
    </td>
    <td>            
        @Model.CourseName
    </td>
    <td>
        @Model.DateOfCompletion.ToString(Const.DATE_FORMAT)
    </td>
    <th scope="row">				
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
            <div class="dropdown-menu">
                <a class="dropdown-item px-8 " href="javascript:" onclick="showInPopUp('@Url.Action("Edit", "LearnerCourse", new { Id = Model.Id }, Context.Request.Scheme)', 'Edit Qualification')"><i class="fa fa-edit mr-2" aria-hidden="true" style="color:#727cf5"></i>Edit</a>
                <a class="dropdown-item px-8 " href="javascript:" onclick="showInPopUp('@Url.Action("Delete", "LearnerCourse", new { Id = Model.Id }, Context.Request.Scheme)', 'Delete Qualification')"><i class="fa fa-trash mr-2" aria-hidden="true" style="color:#fa5c7c"></i>Delete</a>
          
            </div>
        </div>
    </th>
</tr>


    


 