@model IEnumerable<learner_portal.Models.LearnerCourse>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LearnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCompletion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LearnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCompletion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LearnerCourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LearnerCourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LearnerCourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
